<a href="https://colab.research.google.com/github/RossmeryTG/Curso_Phyton/blob/main/Sesi%C3%B3n%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 8
y = x
print(y)

8

In [ ]:
#Crear una lista 
datos_personales = ["Rossmery Torres", 22, True, "Lima"]
datos_personales
print(datos_personales)

['Rossmery Torres', 22, True, 'Lima']

In [ ]:
type(datos_personales)

list

1. Crear una lista con nombre, edad, si es estudiante, departamento donde viven

In [ ]:
#En Python se empieza con la posición 0
nombre_apellido = datos_personales[0]
nombre_apellido

'Rossmery Torres'

In [ ]:
nombre_apellido = datos_personales[3]
nombre_apellido

'Lima'

In [ ]:
#Todo lo antes del index
datos_personales2 = datos_personales[:2]
datos_personales2

['Rossmery Torres', 22]

In [ ]:
departamento = datos_personales [3]
departamento

'Cuszo'

In [ ]:
#La última variable
datos_personales2[-1]
datos_personales [-2]

True

In [ ]:
datos_personales[1:3]

[22, True]

In [ ]:
datos_personales[0]='Juan Salinas'
datos_personales
datos_personales[3]='Cuszo'
datos_personales

['Juan Salinas', 22, True, 'Cuszo']

Tupla

In [2]:
datos_personales_tupla=("Rossmery Torres", 18, True,"Arequipa")
datos_personales_tupla
type(datos_personales_tupla)

tuple

In [3]:
type(datos_personales_tupla)

tuple

In [4]:
datos_personales_diccioneario = { 
  "nombre" : "Rossmery Torres",
  "edad" : 22,
  "es_estudiante" : True,
  "departamento" : "Cusco"
}
datos_personales_diccioneario
type(datos_personales_diccioneario)

dict

In [27]:
import pandas as pd
#Creando listas
nombres=["Rossmery", "Susan", "Kevin", "Nicolas"]
edad=[22, 21, 23, 26]
pais=["Ecuador", "Perú", "Brasil", "Argentina"]
educación=["Bachiller", "Licenciado", "Estudiante", "PhD"]
pais

['Ecuador', 'Perú', 'Brasil', 'Argentina']

In [26]:
data={
     "nombres": nombres,
      "edad" : edad,
      "pais" : pais,
      "educación" : educación
}
data

{'edad': [22, 21, 23, 26],
 'educación': ['Bachiller', 'Licenciado', 'Estudiante', 'PhD'],
 'nombres': ['Rossmery', 'Susan', 'Kevin', 'Nicolas'],
 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina']}

In [28]:
data={
     "nombres": ["Rossmery", "Susan", "Kevin", "Nicolas"],
      "edad" : [22, 21, 23, 26],
      "pais" : ["Ecuador", "Perú", "Brasil", "Argentina"],
      "educación" : ["Bachiller", "Licenciado", "Estudiante", "PhD"]
}
data

{'edad': [22, 21, 23, 26],
 'educación': ['Bachiller', 'Licenciado', 'Estudiante', 'PhD'],
 'nombres': ['Rossmery', 'Susan', 'Kevin', 'Nicolas'],
 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina']}

In [25]:
df_estudiantes = pd.DataFrame(data)
print(df_estudiantes)
df_estudiantes[df_estudiantes["nombres"] == "Nicolas"]

    nombres  edad       pais   educación
0  Rossmery    22    Ecuador   Bachiller
1     Susan    21       Perú  Licenciado
2     Kevin    23     Brasil  Estudiante
3   Nicolas    26  Argentina         PhD

   nombres  edad       pais educación
3  Nicolas    26  Argentina       PhD