<a href="https://colab.research.google.com/github/RossmeryTG/Curso_Phyton/blob/main/Sesi%C3%B3n%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNDAMENTOS DE PROGRAMACIÓN - Sentencias de control

If, else, elif

Condición - SI

In [ ]:
x = 5
y = 0

#if condición, necesita un tab
#if --> si
#else --> sino
if x == 4:
    y  = 5
else:
    y  = 2

In [ ]:
x = 5
y = 0

#todo lo despupes del ":" tiene que estar enla misma altura
if x == 4:
    y  = 5
    print("se ejecutó en el 'if'")
else:
    y  = 2
    print("se ejecutó en el 'else'")
y

se ejecutó en el 'else'

2

In [ ]:
x = 5
y = 0

if x == 4 and y < 2:
    y  = 5
    print("se ejecutó en el 'if'")
else:
    y  = 2
    print("se ejecutó en el 'else'")
y

se ejecutó en el 'else'

2

In [ ]:
x = 2
y = 6

if x == 4 or y < 2:
    y  = 5
    print("se ejecutó en el 'if'")
else:
    y  = 2
    print("se ejecutó en el 'else'")
y

se ejecutó en el 'else'

2

In [ ]:
x = 2
y = 6

#if elif
if x == 4:
    y = 1
elif x == 2:
    y = 3
elif x == 6:
    y = 3
else:
    y = 5

print("El valor de y es:", y)

El valor de y es: 3

In [ ]:
x = 2
y = 6

#si pongo solo if, solo toma en cuenta el último if
if x == 4:
    y = 1
if x == 2:
    y = 3
if x == 6:
    y = 3
else:
    y = 5

print("El valor de y es:", y)

El valor de y es: 5

In [ ]:
#Cuando tenemos una sola condición, lo podemos en una sola línea
x = 2
y = 6

if x < y: print("x es menor que y")

x es menor que y

In [ ]:
x = 8
y = 6

if x < y: print("x es menor que y")

For 

Procesos iterativos, cada número lo trae por separado (no está en fila)
Acaba cuando se acaba una lista o conjunto de datos

In [ ]:
lista = [1,2,4]
for variable in lista:
    print(variable)

1
2
4

In [ ]:
lista = [10,523,643]
suma = 0 #porque inicialmente la suma es 0, si estuviera adentro, la suna 
#siempre sería 0
#La iteración con solo for es hasta cuando termine la lista

for variable in lista:
    suma = suma + variable 
    print("La iteración de la suma es", suma)

print("La suma total es", suma)

La iteración de la suma es 10
La iteración de la suma es 533
La iteración de la suma es 1176
La suma total es 1176

In [ ]:
lista = [10,523,643]
suma = 0 
#x puede variar de nombre

for x in lista:
    suma = suma + x 
    print("La iteración de la suma es", suma)

print("La suma total es", suma)

La iteración de la suma es 10
La iteración de la suma es 533
La iteración de la suma es 1176
La suma total es 1176

In [ ]:
lista =["uno ", "dos ", "tres"]
cadena = ""
for elemento in lista:
    cadena += elemento
cadena

'uno dos tres'

While

Este acaba no cuando se termina la lista, sino cuando deje cumplir una condición
Acaba cuando se acaba una condición(es)
Para salir del bucle podemos utilizar diferentes técnicas 
*   Cambiar la condición o condicione siniciales para así dejar que se cumplan y detener la iteración
*   Llamar directamente a break que provocará la salida inmediata del bucle. Esta sentencia también funciona con for.

In [ ]:
x = 0
y = 3

while x < y:
    print(x)
    x += 1
    print("Nuevo valor de x:", x)

0
Nuevo valor de x: 1
1
Nuevo valor de x: 2
2
Nuevo valor de x: 3

In [ ]:
x = 0
y = 150
#El break va dentro del while
while x < y:
    print(x)
    x += 1
    if x == 50:
        break
    else:
        print("Nuevo valor de x:", x)

0
Nuevo valor de x: 1
1
Nuevo valor de x: 2
2
Nuevo valor de x: 3
3
Nuevo valor de x: 4
4
Nuevo valor de x: 5
5
Nuevo valor de x: 6
6
Nuevo valor de x: 7
7
Nuevo valor de x: 8
8
Nuevo valor de x: 9
9
Nuevo valor de x: 10
10
Nuevo valor de x: 11
11
Nuevo valor de x: 12
12
Nuevo valor de x: 13
13
Nuevo valor de x: 14
14
Nuevo valor de x: 15
15
Nuevo valor de x: 16
16
Nuevo valor de x: 17
17
Nuevo valor de x: 18
18
Nuevo valor de x: 19
19
Nuevo valor de x: 20
20
Nuevo valor de x: 21
21
Nuevo valor de x: 22
22
Nuevo valor de x: 23
23
Nuevo valor de x: 24
24
Nuevo valor de x: 25
25
Nuevo valor de x: 26
26
Nuevo valor de x: 27
27
Nuevo valor de x: 28
28
Nuevo valor de x: 29
29
Nuevo valor de x: 30
30
Nuevo valor de x: 31
31
Nuevo valor de x: 32
32
Nuevo valor de x: 33
33
Nuevo valor de x: 34
34
Nuevo valor de x: 35
35
Nuevo valor de x: 36
36
Nuevo valor de x: 37
37
Nuevo valor de x: 38
38
Nuevo valor de x: 39
39
Nuevo valor de x: 40
40
Nuevo valor de x: 41
41
Nuevo valor de x: 42
42
Nuevo valor de x: 43
43
Nuevo valor de x: 44
44
Nuevo valor de x: 45
45
Nuevo valor de x: 46
46
Nuevo valor de x: 47
47
Nuevo valor de x: 48
48
Nuevo valor de x: 49
49

In [ ]:
x = 0
y = 150
while x < y:
  print(x)
  x += 1
  if len(str(x)) == 3:
    print("Error la cadena excede el valor:", len(str(x)), x) 
    break
  else:
    print("Nuevo valor de x:", x)

0
Nuevo valor de x: 1
1
Nuevo valor de x: 2
2
Nuevo valor de x: 3
3
Nuevo valor de x: 4
4
Nuevo valor de x: 5
5
Nuevo valor de x: 6
6
Nuevo valor de x: 7
7
Nuevo valor de x: 8
8
Nuevo valor de x: 9
9
Nuevo valor de x: 10
10
Nuevo valor de x: 11
11
Nuevo valor de x: 12
12
Nuevo valor de x: 13
13
Nuevo valor de x: 14
14
Nuevo valor de x: 15
15
Nuevo valor de x: 16
16
Nuevo valor de x: 17
17
Nuevo valor de x: 18
18
Nuevo valor de x: 19
19
Nuevo valor de x: 20
20
Nuevo valor de x: 21
21
Nuevo valor de x: 22
22
Nuevo valor de x: 23
23
Nuevo valor de x: 24
24
Nuevo valor de x: 25
25
Nuevo valor de x: 26
26
Nuevo valor de x: 27
27
Nuevo valor de x: 28
28
Nuevo valor de x: 29
29
Nuevo valor de x: 30
30
Nuevo valor de x: 31
31
Nuevo valor de x: 32
32
Nuevo valor de x: 33
33
Nuevo valor de x: 34
34
Nuevo valor de x: 35
35
Nuevo valor de x: 36
36
Nuevo valor de x: 37
37
Nuevo valor de x: 38
38
Nuevo valor de x: 39
39
Nuevo valor de x: 40
40
Nuevo valor de x: 41
41
Nuevo valor de x: 42
42
Nuevo valor de x: 43
43
Nuevo valor de x: 44
44
Nuevo valor de x: 45
45
Nuevo valor de x: 46
46
Nuevo valor de x: 47
47
Nuevo valor de x: 48
48
Nuevo valor de x: 49
49
Nuevo valor de x: 50
50
Nuevo valor de x: 51
51
Nuevo valor de x: 52
52
Nuevo valor de x: 53
53
Nuevo valor de x: 54
54
Nuevo valor de x: 55
55
Nuevo valor de x: 56
56
Nuevo valor de x: 57
57
Nuevo valor de x: 58
58
Nuevo valor de x: 59
59
Nuevo valor de x: 60
60
Nuevo valor de x: 61
61
Nuevo valor de x: 62
62
Nuevo valor de x: 63
63
Nuevo valor de x: 64
64
Nuevo valor de x: 65
65
Nuevo valor de x: 66
66
Nuevo valor de x: 67
67
Nuevo valor de x: 68
68
Nuevo valor de x: 69
69
Nuevo valor de x: 70
70
Nuevo valor de x: 71
71
Nuevo valor de x: 72
72
Nuevo valor de x: 73
73
Nuevo valor de x: 74
74
Nuevo valor de x: 75
75
Nuevo valor de x: 76
76
Nuevo valor de x: 77
77
Nuevo valor de x: 78
78
Nuevo valor de x: 79
79
Nuevo valor de x: 80
80
Nuevo valor de x: 81
81
Nuevo valor de x: 82
82
Nuevo valor de x: 83
83
Nuevo valor de x: 84
84
Nuevo valor de x: 85
85
Nuevo valor de x: 86
86
Nuevo valor de x: 87
87
Nuevo valor de x: 88
88
Nuevo valor de x: 89
89
Nuevo valor de x: 90
90
Nuevo valor de x: 91
91
Nuevo valor de x: 92
92
Nuevo valor de x: 93
93
Nuevo valor de x: 94
94
Nuevo valor de x: 95
95
Nuevo valor de x: 96
96
Nuevo valor de x: 97
97
Nuevo valor de x: 98
98
Nuevo valor de x: 99
99
Error la cadena excede el valor: 3 100

In [ ]:
x = 0
y = 150
#Len cuenta los caracteres, no puede trabajar con enteros, solo lee string
#str convierte el dato en string

while x < y:
    print(x)
    x += 1
    if len(str(x)) == 3:
        print("Error la cadena excede el valor:", len(str(x)), x)
        break
    else:
        print("Nuevo valor de x:", x)

0
Nuevo valor de x: 1
1
Nuevo valor de x: 2
2
Nuevo valor de x: 3
3
Nuevo valor de x: 4
4
Nuevo valor de x: 5
5
Nuevo valor de x: 6
6
Nuevo valor de x: 7
7
Nuevo valor de x: 8
8
Nuevo valor de x: 9
9
Nuevo valor de x: 10
10
Nuevo valor de x: 11
11
Nuevo valor de x: 12
12
Nuevo valor de x: 13
13
Nuevo valor de x: 14
14
Nuevo valor de x: 15
15
Nuevo valor de x: 16
16
Nuevo valor de x: 17
17
Nuevo valor de x: 18
18
Nuevo valor de x: 19
19
Nuevo valor de x: 20
20
Nuevo valor de x: 21
21
Nuevo valor de x: 22
22
Nuevo valor de x: 23
23
Nuevo valor de x: 24
24
Nuevo valor de x: 25
25
Nuevo valor de x: 26
26
Nuevo valor de x: 27
27
Nuevo valor de x: 28
28
Nuevo valor de x: 29
29
Nuevo valor de x: 30
30
Nuevo valor de x: 31
31
Nuevo valor de x: 32
32
Nuevo valor de x: 33
33
Nuevo valor de x: 34
34
Nuevo valor de x: 35
35
Nuevo valor de x: 36
36
Nuevo valor de x: 37
37
Nuevo valor de x: 38
38
Nuevo valor de x: 39
39
Nuevo valor de x: 40
40
Nuevo valor de x: 41
41
Nuevo valor de x: 42
42
Nuevo valor de x: 43
43
Nuevo valor de x: 44
44
Nuevo valor de x: 45
45
Nuevo valor de x: 46
46
Nuevo valor de x: 47
47
Nuevo valor de x: 48
48
Nuevo valor de x: 49
49
Nuevo valor de x: 50
50
Nuevo valor de x: 51
51
Nuevo valor de x: 52
52
Nuevo valor de x: 53
53
Nuevo valor de x: 54
54
Nuevo valor de x: 55
55
Nuevo valor de x: 56
56
Nuevo valor de x: 57
57
Nuevo valor de x: 58
58
Nuevo valor de x: 59
59
Nuevo valor de x: 60
60
Nuevo valor de x: 61
61
Nuevo valor de x: 62
62
Nuevo valor de x: 63
63
Nuevo valor de x: 64
64
Nuevo valor de x: 65
65
Nuevo valor de x: 66
66
Nuevo valor de x: 67
67
Nuevo valor de x: 68
68
Nuevo valor de x: 69
69
Nuevo valor de x: 70
70
Nuevo valor de x: 71
71
Nuevo valor de x: 72
72
Nuevo valor de x: 73
73
Nuevo valor de x: 74
74
Nuevo valor de x: 75
75
Nuevo valor de x: 76
76
Nuevo valor de x: 77
77
Nuevo valor de x: 78
78
Nuevo valor de x: 79
79
Nuevo valor de x: 80
80
Nuevo valor de x: 81
81
Nuevo valor de x: 82
82
Nuevo valor de x: 83
83
Nuevo valor de x: 84
84
Nuevo valor de x: 85
85
Nuevo valor de x: 86
86
Nuevo valor de x: 87
87
Nuevo valor de x: 88
88
Nuevo valor de x: 89
89
Nuevo valor de x: 90
90
Nuevo valor de x: 91
91
Nuevo valor de x: 92
92
Nuevo valor de x: 93
93
Nuevo valor de x: 94
94
Nuevo valor de x: 95
95
Nuevo valor de x: 96
96
Nuevo valor de x: 97
97
Nuevo valor de x: 98
98
Nuevo valor de x: 99
99
Error la cadena excede el valor: 3 100

In [ ]:
x = 0
y = 150
#Para no duplicar código (por normas de programación) deberíamos crear una
#variable

while x < y:
    print(x)
    x += 1
    cadena_numero = len(str(x))
    if cadena_numero == 3:
        print("Error la cadena excede el valor:", cadena_numero, x)
        break
    else:
        print("Nuevo valor de x:", x)

0
Nuevo valor de x: 1
1
Nuevo valor de x: 2
2
Nuevo valor de x: 3
3
Nuevo valor de x: 4
4
Nuevo valor de x: 5
5
Nuevo valor de x: 6
6
Nuevo valor de x: 7
7
Nuevo valor de x: 8
8
Nuevo valor de x: 9
9
Nuevo valor de x: 10
10
Nuevo valor de x: 11
11
Nuevo valor de x: 12
12
Nuevo valor de x: 13
13
Nuevo valor de x: 14
14
Nuevo valor de x: 15
15
Nuevo valor de x: 16
16
Nuevo valor de x: 17
17
Nuevo valor de x: 18
18
Nuevo valor de x: 19
19
Nuevo valor de x: 20
20
Nuevo valor de x: 21
21
Nuevo valor de x: 22
22
Nuevo valor de x: 23
23
Nuevo valor de x: 24
24
Nuevo valor de x: 25
25
Nuevo valor de x: 26
26
Nuevo valor de x: 27
27
Nuevo valor de x: 28
28
Nuevo valor de x: 29
29
Nuevo valor de x: 30
30
Nuevo valor de x: 31
31
Nuevo valor de x: 32
32
Nuevo valor de x: 33
33
Nuevo valor de x: 34
34
Nuevo valor de x: 35
35
Nuevo valor de x: 36
36
Nuevo valor de x: 37
37
Nuevo valor de x: 38
38
Nuevo valor de x: 39
39
Nuevo valor de x: 40
40
Nuevo valor de x: 41
41
Nuevo valor de x: 42
42
Nuevo valor de x: 43
43
Nuevo valor de x: 44
44
Nuevo valor de x: 45
45
Nuevo valor de x: 46
46
Nuevo valor de x: 47
47
Nuevo valor de x: 48
48
Nuevo valor de x: 49
49
Nuevo valor de x: 50
50
Nuevo valor de x: 51
51
Nuevo valor de x: 52
52
Nuevo valor de x: 53
53
Nuevo valor de x: 54
54
Nuevo valor de x: 55
55
Nuevo valor de x: 56
56
Nuevo valor de x: 57
57
Nuevo valor de x: 58
58
Nuevo valor de x: 59
59
Nuevo valor de x: 60
60
Nuevo valor de x: 61
61
Nuevo valor de x: 62
62
Nuevo valor de x: 63
63
Nuevo valor de x: 64
64
Nuevo valor de x: 65
65
Nuevo valor de x: 66
66
Nuevo valor de x: 67
67
Nuevo valor de x: 68
68
Nuevo valor de x: 69
69
Nuevo valor de x: 70
70
Nuevo valor de x: 71
71
Nuevo valor de x: 72
72
Nuevo valor de x: 73
73
Nuevo valor de x: 74
74
Nuevo valor de x: 75
75
Nuevo valor de x: 76
76
Nuevo valor de x: 77
77
Nuevo valor de x: 78
78
Nuevo valor de x: 79
79
Nuevo valor de x: 80
80
Nuevo valor de x: 81
81
Nuevo valor de x: 82
82
Nuevo valor de x: 83
83
Nuevo valor de x: 84
84
Nuevo valor de x: 85
85
Nuevo valor de x: 86
86
Nuevo valor de x: 87
87
Nuevo valor de x: 88
88
Nuevo valor de x: 89
89
Nuevo valor de x: 90
90
Nuevo valor de x: 91
91
Nuevo valor de x: 92
92
Nuevo valor de x: 93
93
Nuevo valor de x: 94
94
Nuevo valor de x: 95
95
Nuevo valor de x: 96
96
Nuevo valor de x: 97
97
Nuevo valor de x: 98
98
Nuevo valor de x: 99
99
Error la cadena excede el valor: 3 100

In [ ]:
*Otra sentencia a for y while es continue, la cual se emplea para provocar un salto inmediato a la siguiente iteración del bucle. 
Esto puede ser útil, por ejemplo, cuando no deseamos ejecutar una determinada sentencia y solo queremos imprimir los números pares:

In [ ]:
for i in range (1, 10):
    if i % 2 != 0:
        continue
    print (i)

2
4
6
8

Funciones

Es una función porque esta con paréntises
La variable no tiene paréntesis

In [ ]:
def obtener_nombre_completo(): #declaracion de parámetros
    return "Rossmery Torres" #función

nombre_completo = obtener_nombre_completo() #variable
print(nombre_completo)

Rossmery Torres

In [ ]:
def obtener_nombre_completo_con_parametros(nombres, apellidos): #declarar parámetros
    return nombres + " " + apellidos #función

nombre = "Juan Miguel"     #parámetros 
apellido = "Salinas Ponce"

nombre_completo = obtener_nombre_completo_con_parametros(nombre, apellido) #variable
print(nombre_completo)

Juan Miguel Salinas Ponce

In [65]:
def obtener_nombre_completo_con_parametros(nombres, apellidos): #declarar parámetros
    return "Sus nombres son: " + nombres + " " + "Sus apellidos son: " + apellidos #función

x = "Juan Miguel"   #parámetros
y = "Salinas Ponce"

nombre_completo = obtener_nombre_completo_con_parametros(x, y) #variable
print(nombre_completo)

Sus nombres son: Juan Miguel Sus apellidos son: Salinas Ponce

In [ ]:
def obtener_nombre_completo_con_parametros(nombres, apellidos):
  return nombres + " " + apellidos

nombres = "Juan Miguel"
apellidos = "Salinas Ponce"

nombre_completo = obtener_nombre_completo_con_parametros(nombres, apellidos)
print(nombre_completo)

Juan Miguel Salinas Ponce

In [ ]:
*Por posición

Respeta la posicicón

In [64]:
def obtener_nombre_completo_con_parametros(nombres, apellidos): 
    return "Sus nombres son: " + nombres + " " + "Sus apellidos son: " + apellidos 

x = "Juan Miguel"   
y = "Salinas Ponce"

nombre_completo = obtener_nombre_completo_con_parametros(y, x) 
print(nombre_completo)

Sus nombres son: Salinas Ponce Sus apellidos son: Juan Miguel

*Por nombre

Se guía del nombre

In [63]:
def obtener_nombre_completo_con_parametros(nombres, apellidos): 
    return "Sus nombres son: " + nombres + " " + "Sus apellidos son: " + apellidos 

x = "Juan Miguel"   
y = "Salinas Ponce"

nombre_completo = obtener_nombre_completo_con_parametros(apellidos = y, nombres = x) #tiene que coincidir con los parámetro declarados y la función
print(nombre_completo)

Sus nombres son: Juan Miguel Sus apellidos son: Salinas Ponce

In [ ]:
def obtener_nombre_completo_con_parametros(nombres, apellidos2):
  return nombres + " " + apellidos

x = "Juan Miguel"
y = "Salinas Ponce"

nombre_completo = obtener_nombre_completo_con_parametros(apellido)
print(nombre_completo)

TypeError: ignored

*Parámetros por defecto

En la descripción de parámetros se le asigna un valor por defecto

In [ ]:
nombre_completo = "Rossmery Torres"

def formulario_inscripción(nombre_completo, pais = "Perú"):
    return {
      "nombre_completo" : nombre_completo,
      "pais" : pais
    }
    
print(formulario_inscripción(nombre_completo)) #solo colocó el nombre completo y el país se añadió por defecto

{'nombre_completo': 'Rossmery Torres', 'pais': 'Perú'}

In [66]:
nombre = "Rossmery Torres"
pais_origen = "Ecuador"

def formulario_inscripción(nombre_completo, pais = "Perú"):
    return {
      "nombre_completo" : nombre_completo,
      "pais" : pais
    }
    
print(formulario_inscripción(nombre, pais_origen)) #aquí sí se asignó el país

{'nombre_completo': 'Rossmery Torres', 'pais': 'Ecuador'}

In [67]:
def resta(a = None, b = None):
    if a == None or b == None:
        raise Exception("Error, no puedo restar sin las 2 variables") #función para generar un error personalizado
    return a - b

print(resta())

Exception: ignored

In [68]:
def resta(a = None, b = None):
    if a == None or b == None:
        raise Exception("Error, no puedo restar sin las 2 variables") #función para generar un error personalizado
    return a - b

print(resta(2, 3))

-1

In [71]:
def resta(a = None, b = None):
    if a == None or b == None:
        raise Exception("Error, no puedo restar sin las 2 variables") #función para generar un error personalizado
    return a - b

def suma(a = None, b = None):
    if a == None or b == None:
       raise Exception("Error, no puedo sumar sin las 2 variables")
    return a + b

def multiplicacion(a = None, b = None):
    if a == None or b == None:
        raise Exception("Error, no puedo multiplicar sin las 2 variables")
    return a * b

def operaciones(numero1, numero2):
    operacion_suma = suma(numero1, numero2)
    operacion_resta = resta(numero1, numero2)
    operacion_multiplicacion = multiplicacion(numero1, numero2)
    return operacion_suma, operacion_resta, operacion_multiplicacion

numero1 = 5
numero2 = 10
resultado_operaciones = operaciones(numero1, numero2)

print(resultado_operaciones)
print("La suma de:", numero1, "y", numero2, "es", resultado_operaciones[0])
print("La resta de:", numero1, "y", numero2, "es", resultado_operaciones[1])
print("La multiplicacion de:", numero1, "y", numero2, "es", resultado_operaciones[2])

(15, -5, 50)
La suma de: 5 y 10 es 15
La resta de: 5 y 10 es -5
La multiplicacion de: 5 y 10 es 50