<a href="https://colab.research.google.com/github/RossmeryTG/Curso_Phyton/blob/main/Sesi%C3%B3n%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lista
Usan llaves

In [2]:
#Crear una lista 

datos_personales = ["Rossmery Torres", 22, True, "Lima"]
datos_personales
print(datos_personales)

['Rossmery Torres', 22, True, 'Lima']

In [3]:
#Verificando el tipo de datos de una varibale
type(datos_personales)

list

In [4]:
#En Python se empieza con la posición 0
nombre_apellido = datos_personales[0]
nombre_apellido

'Rossmery Torres'

In [ ]:
departamento = datos_personales[3]
departamento

'Lima'

In [9]:
#Todo los elementos antes de la posición número 2
datos_personales2 = datos_personales[:2]
datos_personales2

['Rossmery Torres', 22]

In [11]:
#El último elemento
datos_personales2[-1]

22

In [12]:
#El antepenúltimo elemento
datos_personales[-2]

True

In [13]:
#Un grupo de elementos en el medio
datos_personales[1:3]

[22, True]

In [14]:
#Todo los elementos después de la posición número 2
datos_personales[1:]

[22, True, 'Lima']

In [ ]:
#Para cambiar/ actualizar los elementos
#SI es posible actualizar las listas
datos_personales[0]='Juan Salinas'
datos_personales
datos_personales[3]='Cuszo'
datos_personales

['Juan Salinas', 22, True, 'Cuszo']

Tupla
Diferencia entre una lista y una tupla
*   La lista puede modificar sus elementos 
*   La tupla no permite modificar sus elementos
Para declarar una tupla se puede usar 
1.   ()
2.   tupla()
3.   nada

In [15]:
datos_personales_tupla = "Rossmery Torres", 18, True,"Arequipa"
datos_personales_tupla

('Rossmery Torres', 18, True, 'Arequipa')

In [16]:
#Verificando el tipo de datos de una varibale
type(datos_personales_tupla)

tuple

In [17]:
#La tupla se comporta como una lista
nombre_tupla = datos_personales_tupla[0]
nombre_tupla

'Rossmery Torres'

In [18]:
datos_personales_tupla[0] = "Brany Garnique"

TypeError: ignored

In [ ]:
#Tupla dentro de una tupla

Diccionario
*   Usan llaves

In [19]:
datos_personales_diccioneario = { 
  "nombre"        : "Rossmery Torres",
  "edad"          : 22,
  "es_estudiante" : True,
  "departamento"  : "Cusco"
}
datos_personales_diccioneario

{'departamento': 'Cusco',
 'edad': 22,
 'es_estudiante': True,
 'nombre': 'Rossmery Torres'}

In [20]:
#Verificando el tipo de datos de una varibale
type(datos_personales_diccioneario)

dict

In [22]:
#Los query se hacen desde el encabezado
datos_personales_diccioneario["nombre"]

'Rossmery Torres'

DataFrame
*   Tiene dos dimensiones
*   Usa corchetes
*   Es necesario llamar al paquete "pandas" para usar dataframes

In [30]:
import pandas as pd
#Creando listas
  nombres   = ["Rossmery", "Susan", "Kevin", "Nicolas"]
  edad      = [22, 21, 23, 26]
  pais      = ["Ecuador", "Perú", "Brasil", "Argentina"]
  educación = ["Bachiller", "Licenciado", "Estudiante", "PhD"]
#La posición 0 hace referencia al primer elemento de cada lsita

IndentationError: ignored

In [29]:
#Se puede hacer query
pais

['Ecuador', 'Perú', 'Brasil', 'Argentina']

In [25]:
data = {
  "nombres"   : nombres,
  "edad"      : edad,
  "pais"      : pais,
  "educación" : educación
}
data

{'edad': [22, 21, 23, 26],
 'educación': ['Bachiller', 'Licenciado', 'Estudiante', 'PhD'],
 'nombres': ['Rossmery', 'Susan', 'Kevin', 'Nicolas'],
 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina']}

In [28]:
#Se puede crear un diccionario dentro de otro diccionario
import pandas as pd
#Creando listas
  nombres_2   = ["Rosmery", "Susan", "Kevin", "Nicolas"]
  edad_2      = [22, 21, 23, 26]
  pais_2      = ["Ecuador", "Perú", "Brasil", "Argentina"]
  educación_2 = ["Bachiller", "Licenciado", "Estudiante", "PhD"]
  genero      = { 
    "sexo_1" : "masculino",
    "sexo_2" : "femenino" 
}

IndentationError: ignored

In [ ]:
df_estudiantes = pd.DataFrame(data)
print(df_estudiantes)
df_estudiantes[df_estudiantes["nombres"] == "Nicolas"]

    nombres  edad       pais   educación
0  Rossmery    22    Ecuador   Bachiller
1     Susan    21       Perú  Licenciado
2     Kevin    23     Brasil  Estudiante
3   Nicolas    26  Argentina         PhD

   nombres  edad       pais educación
3  Nicolas    26  Argentina       PhD