<a href="https://colab.research.google.com/github/RossmeryTG/Curso_Phyton/blob/main/Sesi%C3%B3n%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lista
Usan llaves

In [2]:
#Crear una lista 

datos_personales = ["Rossmery Torres", 22, True, "Lima"]
datos_personales
print(datos_personales)

['Rossmery Torres', 22, True, 'Lima']

In [3]:
#Verificando el tipo de datos de una varibale
type(datos_personales)

list

In [4]:
#En Python se empieza con la posición 0
nombre_apellido = datos_personales[0]
nombre_apellido

'Rossmery Torres'

In [ ]:
departamento = datos_personales[3]
departamento

'Lima'

In [9]:
#Todo los elementos antes de la posición número 2
datos_personales2 = datos_personales[:2]
datos_personales2

['Rossmery Torres', 22]

In [11]:
#El último elemento
datos_personales2[-1]

22

In [12]:
#El antepenúltimo elemento
datos_personales[-2]

True

In [13]:
#Un grupo de elementos en el medio
datos_personales[1:3]

[22, True]

In [14]:
#Todo los elementos después de la posición número 2
datos_personales[1:]

[22, True, 'Lima']

In [ ]:
#Para cambiar/ actualizar los elementos
#SI es posible actualizar las listas
datos_personales[0]='Juan Salinas'
datos_personales
datos_personales[3]='Cuszo'
datos_personales

['Juan Salinas', 22, True, 'Cuszo']

Tupla
Diferencia entre una lista y una tupla
*   La lista puede modificar sus elementos 
*   La tupla no permite modificar sus elementos
Para declarar una tupla se puede usar 
1.   ()
2.   tupla()
3.   nada

In [15]:
datos_personales_tupla = "Rossmery Torres", 18, True,"Arequipa"
datos_personales_tupla

('Rossmery Torres', 18, True, 'Arequipa')

In [16]:
#Verificando el tipo de datos de una varibale
type(datos_personales_tupla)

tuple

In [17]:
#La tupla se comporta como una lista
nombre_tupla = datos_personales_tupla[0]
nombre_tupla

'Rossmery Torres'

In [18]:
datos_personales_tupla[0] = "Brany Garnique"

TypeError: ignored

In [ ]:
#Tupla dentro de una tupla

Diccionario
*   Usan llaves

In [19]:
datos_personales_diccioneario = { 
  "nombre"        : "Rossmery Torres",
  "edad"          : 22,
  "es_estudiante" : True,
  "departamento"  : "Cusco"
}
datos_personales_diccioneario

{'departamento': 'Cusco',
 'edad': 22,
 'es_estudiante': True,
 'nombre': 'Rossmery Torres'}

In [20]:
#Verificando el tipo de datos de una varibale
type(datos_personales_diccioneario)

dict

In [22]:
#Los query se hacen desde el encabezado
datos_personales_diccioneario["nombre"]

'Rossmery Torres'

DataFrame
*   Tiene dos dimensiones
*   Usa corchetes
*   Es necesario llamar al paquete "pandas" para usar dataframes

In [38]:
import pandas as pd
#Creando listas
nombres   = ["Rossmery", "Susan", "Kevin", "Nicolas"]
edad      = [22, 21, 23, 26]
pais      = ["Ecuador", "Perú", "Brasil", "Argentina"]
educación = ["Bachiller", "Licenciado", "Estudiante", "PhD"]
#La posición 0 hace referencia al primer elemento de cada lsita
#No deben tener espacio al inicio

In [32]:
#Se puede hacer query
pais

['Ecuador', 'Perú', 'Brasil', 'Argentina']

In [33]:
data = {
  "nombres"   : nombres,
  "edad"      : edad,
  "pais"      : pais,
  "educación" : educación
}
data

{'edad': [22, 21, 23, 26],
 'educación': ['Bachiller', 'Licenciado', 'Estudiante', 'PhD'],
 'nombres': ['Rossmery', 'Susan', 'Kevin', 'Nicolas'],
 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina']}

In [42]:
#Se puede crear un diccionario dentro de otro diccionario
import pandas as pd
#Creando listas
nombres_2   = ["Rossmery", "Susan", "Kevin", "Nicolas"]
edad_2      = [22, 21, 23, 26]
pais_2      = ["Ecuador", "Perú", "Brasil", "Argentina"]
educación_2 = ["Bachiller", "Licenciado", "Estudiante", "PhD"]
genero      = { 
    "sexo_1" : "masculino",
    "sexo_2" : "femenino" 
}

In [47]:
data_2 = {
  "nombres_2"   : nombres_2,
  "edad_2"      : edad_2,
  "pais_2"      : pais_2,
  "educación_2" : educación_2,
  "genero_2"    : genero
}
data_2

{'edad_2': [22, 21, 23, 26],
 'educación_2': ['Bachiller', 'Licenciado', 'Estudiante', 'PhD'],
 'genero_2': {'sexo_1': 'masculino', 'sexo_2': 'femenino'},
 'nombres_2': ['Rossmery', 'Susan', 'Kevin', 'Nicolas'],
 'pais_2': ['Ecuador', 'Perú', 'Brasil', 'Argentina']}

In [48]:
#Query de diccionario de diccionario
data_2["genero_2"]

{'sexo_1': 'masculino', 'sexo_2': 'femenino'}

In [54]:
genero_2_1 = data_2["genero_2"]["sexo_1"]
genero_2_1

'masculino'

In [56]:
df_estudiantes = pd.DataFrame(data)
df_estudiantes

    nombres  edad       pais   educación
0  Rossmery    22    Ecuador   Bachiller
1     Susan    21       Perú  Licenciado
2     Kevin    23     Brasil  Estudiante
3   Nicolas    26  Argentina         PhD

In [59]:
#Se pueden hacer querys
#Se usan doble corchetes
df_estudiantes[["edad", "pais"]]

   edad       pais
0    22    Ecuador
1    21       Perú
2    23     Brasil
3    26  Argentina

In [60]:
df_estudiantes[df_estudiantes["nombres"] == "Nicolas"]

   nombres  edad       pais educación
3  Nicolas    26  Argentina       PhD

In [61]:
print(df_estudiantes)

    nombres  edad       pais   educación
0  Rossmery    22    Ecuador   Bachiller
1     Susan    21       Perú  Licenciado
2     Kevin    23     Brasil  Estudiante
3   Nicolas    26  Argentina         PhD

PRÁCTICA CALIFICADA 01
1.   Busque un personaje publico de su preferencia en wikipedia. Genere una variable con la url de la página.

In [62]:
URL = "https://es.wikipedia.org/wiki/Elon_Musk"
URL

'https://es.wikipedia.org/wiki/Elon_Musk'

2. Programar un diccionario de la manera más simple, teniendo distintos tipos de datos.(Minimo 20 campos).

In [66]:
wikipedia = {
  "nombre"              : "Elon Musk",
  "fecha de nacimiento" : "28 de junio de 1971",
  "edad"                : 49,
  "lugar de nacimiento" : "Pretoria, Sudáfrica",
  "residencia"          : "Bel-Air",
  "nacionalidad"        : "sudafricana, canadiense, estadounidense",
  "lengua materna"      : "inglés",
  "religión"            : "agnosticismo",
  "padres"              : "Errol Musk, Maye Musk",
  "hermanos"            : "Kimbal Musk, Tosca Musk​",
  "conyugue"            : "Amber Heard",
  "hijos"               : 7,
  "universidad"         : "Universidad de Queen, Universidad Stanford, Universidad de Pensilvania, Wharton Business School",
  "ocupación"           : "ingeniero aeroespacial, inventor, programador, ingeniero, emprendedor, actor",
  "empresas"            : "PayPal, SpaceX, Hyperloop, SolarCity, The Boring Company, Neuralink, OpenAI",
  "premios"             : "Honoris causa, Medalla de oro de la Royal Aeronautical Society, Miembro de la Royal Society",
  "intereses"           : "política, aviones, cine, música",
  "películas"           : "Iron Man 2, Trascendence",
  "fortuna"             : "187 millones de dólares"
}
wikipedia

{'conyugue': 'Amber Heard',
 'edad': 49,
 'empresas': 'PayPal, SpaceX, Hyperloop, SolarCity, The Boring Company, Neuralink, OpenAI',
 'fecha de nacimiento': '28 de junio de 1971',
 'fortuna': '187 millones de dólares',
 'hermanos': 'Kimbal Musk, Tosca Musk\u200b',
 'hijos': 7,
 'intereses': 'política, aviones, cine, música',
 'lengua materna': 'inglés',
 'lugar de nacimiento': 'Pretoria, Sudáfrica',
 'nacionalidad': 'sudafricana, canadiense, estadounidense',
 'nombre': 'Elon Musk',
 'ocupación': 'ingeniero aeroespacial, inventor, programador, ingeniero, emprendedor, actor',
 'padres': 'Errol Musk, Maye Musk',
 'películas': 'Iron Man 2, Trascendence',
 'premios': 'Honoris causa, Medalla de oro de la Royal Aeronautical Society, Miembro de la Royal Society',
 'religión': 'agnosticismo',
 'residencia': 'Bel-Air',
 'universidad': 'Universidad de Queen, Universidad Stanford, Universidad de Pensilvania, Wharton Business School'}

3. Programar luego un diccionario usando donde se pueda otras estructuras (listas, tuplas, diccionarios).

In [70]:
nacionalidad = ["sudafricana", "canadiense", "estadounidense"]
padres       = ["Errol Musk", "Maye Musk"]
hermanos     = ["Kimbal Musk", "Tosca Musk​"]
universidad  = ["Universidad de Queen", "Universidad Stanford", "Universidad de Pensilvania", "Wharton Business School"]
ocupación    = ["Ingeniero aeroespacial", "inventor", "programador", "ingeniero", "emprendedor", "actor"]
empresas     = ["PayPal", "SpaceX", "Hyperloop", "SolarCity", "The Boring Company", "Neuralink", "OpenAI"]
premios      = ["Honoris causa", "Medalla de oro de la Royal Aeronautical Society", "Miembro de la Royal Society"]
intereses    = ["política", "aviones", "cine", "música"]
películas    = ["Iron Man 2", "Trascendence"]
wikipedia = {
  "nombre"              : "Elon Musk",
  "fecha de nacimiento" : "	28 de junio de 1971",
  "edad"                : 49,
  "lugar de nacimiento" : "Pretoria, Sudáfrica",
  "residencia"          : "Bel-Air",
  "nacionalidad"        : nacionalidad,
  "lengua materna"      : "Inglés",
  "religión"            : "Agnosticismo",
  "padres"              : padres,
  "hermanos"            : hermanos,
  "conyugue"            : "Amber Heard",
  "hijos"               : 7,
  "universidad"         : universidad,
  "ocupación"           : ocupación,
  "empresas"            : empresas,
  "premios"             : premios,
  "intereses"           : intereses,
  "películas"           : películas,
  "fortuna"             : "187 millones de dólares"
}
wikipedia

{'conyugue': 'Amber Heard',
 'edad': 49,
 'empresas': ['PayPal',
  'SpaceX',
  'Hyperloop',
  'SolarCity',
  'The Boring Company',
  'Neuralink',
  'OpenAI'],
 'fecha de nacimiento': '\t28 de junio de 1971',
 'fortuna': '187 millones de dólares',
 'hermanos': ['Kimbal Musk', 'Tosca Musk\u200b'],
 'hijos': 7,
 'intereses': ['política', 'aviones', 'cine', 'música'],
 'lengua materna': 'Inglés',
 'lugar de nacimiento': 'Pretoria, Sudáfrica',
 'nacionalidad': ['sudafricana', 'canadiense', 'estadounidense'],
 'nombre': 'Elon Musk',
 'ocupación': ['Ingeniero aeroespacial',
  'inventor',
  'programador',
  'ingeniero',
  'emprendedor',
  'actor'],
 'padres': ['Errol Musk', 'Maye Musk'],
 'películas': ['Iron Man 2', 'Trascendence'],
 'premios': ['Honoris causa',
  'Medalla de oro de la Royal Aeronautical Society',
  'Miembro de la Royal Society'],
 'religión': 'Agnosticismo',
 'residencia': 'Bel-Air',
 'universidad': ['Universidad de Queen',
  'Universidad Stanford',
  'Universidad de Pensilvania',
  'Wharton Business School']}

In [72]:
empresas

['PayPal',
 'SpaceX',
 'Hyperloop',
 'SolarCity',
 'The Boring Company',
 'Neuralink',
 'OpenAI']